.resultContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  width: 35vw;
  height: 60vh;
  background: #fff;
  border-radius: 30px;;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.49); 
  box-shadow: 5px 5px 11px 2px rgba(0,0,0,0.49);
}

.resultImg {
  width: 20%;
  margin-top: 20px;
}

.resultAnswered {
  margin-top: 50px;
}

.tryAgainBtn {
  padding: 25px 50px;
  margin-top: 30px;
  background-color: cyan;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: 800;
  font-size: 1em;
}
